@import "../utils/variables";
@import "../utils/variables";

#about {
  padding: 0rem $side-padding;
  justify-content: center;

  span {
    font-size: inherit;
    color: $light-medium-blue;
  }

  .row {
    justify-content: space-between;
  }

  .column {
    p {
      font-size: 1.5rem;
      max-width: 49ch;
    }

    .building-image-backdrop {
      background-color: $light-blue;
      width: 30vw;
      height: 30vw;
      border-radius: 0.5rem;
    }
    .building-image {
      border-radius: 0.5rem;
      position: relative;
      top: 2rem;
      right: 2rem;
      width: 30vw;
      height: 30vw;
      background-position: center;
      background-size: cover;
    }

    &:last-of-type {
      justify-content: right;
    }
  }

  .badge-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
    padding-top: 4rem;
  }

  .blue-tab {
    font-size: 0.7rem;
    margin-bottom: 1rem;
  }
  .big-title {
    margin-bottom: 1rem;
  }
}
