@import "variables";

#contact {
  background-color: $dark-gray;
  height: 100%;
  color: $white;
  justify-content: flex-start;

  * {
    color: inherit;
  }

  #contact-separator {
    fill: $dark-blue;
  }

  p {
    width: 45ch;
    font-size: 1.35rem;
  }

  .contact-content {
    margin: 20rem 0;
    height: 60vh;
    padding: 1rem $side-padding;

    .big-title {
      margin-bottom: 2rem;
    }
  }

  .row {
    .column {
      width: 50%;
      justify-content: flex-start;
    }
  }

  .badge-column {
    display: flex;
    flex-direction: column;

    a {
      text-decoration: none;
    }

    .badge {
      margin-top: 2rem;
      align-items: center;

      svg {
        fill: $white;
        font-size: 2rem;
      }

      p {
        font-size: 1.25rem;
      }
    }
  }
}

@import "form";
