.categories_content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    margin: 1rem 0 1rem 0;
}
.categories_heading {

}
.categories_heading h2 {
    font-size: 2rem;
}
.categories_heading p {
    font-size: .75rem;
    font-weight: 600;
}
.categories_cards {
    height: 100%;
    padding-top: 2rem;
}
.category_card {
    border-radius: 1rem;
    width: 40vh;
    height: 40vh;
    border: solid black 2px;
    margin-bottom: 3rem;
    padding: 1rem;
}
.category_card h3 {
    margin-top: auto;
    font-size: 1.2rem;
    max-width: 11ch;
}