.categories_content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    margin: 1rem 0 1rem 0;
}
.categories_heading {

}
.categories_heading h2 {
    font-size: 2rem;
}
.categories_heading p {
    font-size: .75rem;
    font-weight: 600;
}
.categories_cards {
    height: 100%;
    padding-top: 2rem;
    background-repeat: none;
    background-size: cover;
}
.category_card {
    border-radius: 1rem;
    width: 35vh;
    height: 35vh;
    margin-bottom: 3rem;
    padding: 1rem;
    display: flex;
    flex-direction: column-reverse;
    color: white;
    transition: 200ms ease-out;
    box-shadow: 0px 6px 15px rgba(10, 10, 10, .5);
}
div.category_card:hover {
    transform: translate(0px, -20px);

}
.category_card h3 {
    font-size: 1.2rem;
    max-width: 11ch;
    color: inherit;
}

#video-card {
    background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.7)), url("https://images.unsplash.com/flagged/photo-1572609239482-d3a83f976aa0?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1489&q=80");
    background-size: 180%;
    background-position: 20%;
}

#audio-card {
    background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.7)), url("https://images.unsplash.com/photo-1596628319258-c6f3f387a1ed?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=80");
    background-size: 120%;
    background-position: 50%;
}
#photography-card {
    background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.7)), url("https://images.pexels.com/photos/212372/pexels-photo-212372.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-size: 180%;
    background-position: 90%;
}
#gadgets-card {
    background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.7)), url("https://images.pexels.com/photos/21067/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-size: 150%;
    background-position: 30%;
}
#drones-card {
    background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.7)), url("https://images.pexels.com/photos/724921/pexels-photo-724921.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-size: 155%;
    background-position: 70%;
}
#computers-card {
    background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.7)), url("https://images.pexels.com/photos/1029757/pexels-photo-1029757.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-size: 150%;
    background-position: 50%;
}