@import 'variables';


#contact {
 background-color: $dark-gray;
 color: $white;
 padding: 1rem 10rem;
 justify-content: center;

 
 .badge-column {
     display: flex;
     flex-direction: column;
 }


 * {
     color: inherit;
 }
}