@import 'variables';

#footer {
    padding: 3rem $side-padding;

    * {
        color: white;
    }
    
    background-color: $off-black;
    height: 40vh;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    img {
        width: 50%;
    }
}