@import "variables";

#footer {
  padding: 6rem $side-padding;

  * {
    font-size: 1.5rem;
    color: white;
  }

  background-color: $off-black;
  // height: 40vh;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  img {
    width: 33%;
  }

  nav,
  div.badges {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    svg {
      fill: white;
    }
  }
  a:hover {
    color: $light-blue;
    cursor: default;
  }
}
