@import 'variables';

form {
    padding-top: 5rem;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    label {
      font-size: 1.25rem;
      width: fit-content;
      margin-bottom: .5rem;
      &:last-of-type {
        //   margin-top: 2rem;
      }
    }

    .form-column {
        display: flex;
        flex-direction: column;
        width: 100%;

        &:first-of-type {
            width: 30%;
            margin-right: 2rem;
        }

    }

    div.row {
        padding-bottom: 1rem;
    }

    

    input,
    textarea {
        font-size: 1.2rem;
      background: none;
      border: solid $white 2px;
      padding: 1.2rem .75rem;
      border-radius: 0.8rem;

      &[type="submit"] {
          width: fit-content;
        padding: 0.6rem 3rem;
        font-size: 1.7rem;
      }
      &[type="email"] {
      }
    }
    textarea {
        height: 100%;
        margin-bottom: 1rem;
    }

  }