@import 'variables';


header {
    background-color: black;
    justify-content: space-between;
    padding: 3rem 5rem;
    overflow: hidden;

    .navbar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        
        nav {
            width: fit-content;

            a {
                color: $white;
                font-weight: 400;
                font-size: 1.7rem;
                text-decoration: none;
                
                &:not(:last-of-type) {
                    margin-right: 3rem;
                }
            }  
        }

        img {
            height: 5rem;
        }
    }

    .header_content {
        padding-left: 8rem;

        display: flex;

        img {
            width: 40rem;
        }

        .column {
            justify-content: center;
            video {
                max-width: 100%;
            }
        }

        div {
            width: fit-content;
            padding-top: 2rem;


            button {
                color: $white;
                font-size: 1.5rem;
                background: none;
                border: solid $white 1px;
                width: 19rem;
                padding: 1rem 2rem;
                border-radius: 1rem;

                &:first-of-type {
                    margin-right: 1rem;
                }

                &:hover {
                    background-color: $white;
                    color: black;
                    transition: 200ms ease-in;
                }

            }

        }

    }
        
    .header_phone {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        // color: ;

        svg {
            fill: $grey-text;
        }
        
        p {
            color: $grey-text;
            font-weight: 400;
            font-size: 1.7rem;
        }
        a {
            text-decoration: none;
            &:hover {
                animation-name: jiggle;
                animation-duration: 200ms;
                animation-iteration-count: 1;
                animation-timing-function: ease-in-out;

            }
        }

    }

}


@keyframes  jiggle {
    0% {transform: rotateZ(0deg)}
    25% {transform: rotateZ(3deg)}
    50% {transform: rotateZ(0deg)}
    75% {transform: rotateZ(-3deg)}
    100% {transform: rotateZ(0deg)}
}