@import 'variables';


header {
    background-color: $light-blue;
    justify-content: space-between;
    padding: 3rem;

    .navbar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        nav {
            width: fit-content;

            a {
                font-size: 1.7rem;
                text-decoration: none;
                
                &:not(:last-of-type) {
                    margin-right: 3rem;
                }
            }  
        }

        img {
            height: 5rem;
        }
    }

    .header_content {
        img {
            width: 40rem;
        }

        div {
            background-color:black;

        }

    }

}