@import 'variables';

#categories {
    padding: 2rem $side-padding;
    justify-content: center;

    .column {
        width: 45%;
            
        .img {
            height: 60vh;
            width: 100%;
            background-position: center;
            background-size: cover;
            border-radius: .5rem;
        }
        
        .big-title {
            margin-bottom: 1rem;
            word-wrap: wrap-reverse;
        }

        p {
            font-size: 1.5rem;
        }
    }

    .row {
        width: 100%;
        justify-content: space-between;

        &:last-of-type {
            margin-top: 3rem;
        }

        .active-control {
            color: white;
            background-color: $light-medium-blue;
            border-color: $light-medium-blue;
            transition: ease-in-out 300ms;
        }

        .control-button {
            font-size: 1.8rem;
            font-weight: 800;
            background: none;
            border: solid black 2px;
            padding: .5rem 1rem;
            border-radius: .5rem;

            &:hover {
                @extend .active-control
            }
        }
    }

    .badge-section {
        width: fit-content;
        margin-top: 4rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 4rem;
    }
}