#categories {
    padding: 2rem 10rem;
    justify-content: center;

    .column {
        width: 50%;
        padding: 1rem 3rem;

        &:not(:last-child) {
            align-items: center;
        }
        
        .img {
            height: 38rem;
            width: 35rem;
            
        }

        p {
            font-size: 1.5rem;
        }
    }

    .row {
        width: 100%;
        justify-content: space-evenly;
    }
}