@import "variables";

.rightImage {
  padding: 2rem $side-padding;

  width: 100%;
  height: 100vh;

  * {
    text-align: inherit;
    width: 100%;
  }

  .block-title {
    font-size: 3.5rem;
    font-weight: 800;
    margin-bottom: 1.5rem;
    word-wrap: wrap-reverse;
  }
  p {
    font-size: 1.75rem;
    font-weight: 300;
  }

  .row {
    padding: 20vh 0;
    height: 100%;
    justify-content: space-between;
    align-items: center;

    .block-column {
      width: 45%;
      justify-content: space-around;
    }
  }

  padding: 2rem $side-padding;
  justify-content: center;

  .column {
    width: 45%;

    .img {
      height: 60vh;
      width: 100%;
      background-position: center;
      background-size: cover;
      border-radius: 0.5rem;
    }

    .big-title {
      margin-bottom: 1rem;
      word-wrap: wrap-reverse;
    }

    p {
      font-size: 1.5rem;
    }
  }

  .row {
    width: 100%;
    justify-content: space-between;

    .active-control {
      color: white;
      background-color: $light-medium-blue;
      border-color: $light-medium-blue;
      transition: ease-in-out 300ms;
    }

    .control-button {
      font-size: 1.8rem;
      font-weight: 800;
      background: none;
      border: solid black 2px;
      padding: 0.5rem 1rem;
      border-radius: 0.5rem;

      &:hover {
        @extend .active-control;
      }
    }
  }

  .badge-section {
    width: fit-content;
    margin-top: 4rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 4rem;
  }
}
