@import './resets.scss';
@import './variables.scss';

body {
    background-color: $white;
}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

.fullscreen_block {
    width: 100vw;
    height: 100vh;
}

