@import "utils/variables";
@import "utils/mixins";
@import "utils/resets";

@import "layout/about";
@import "layout/brands";
@import "layout/contact";
@import "layout/footer";
@import "layout/form";
@import "layout/header";
@import "layout/logistics";
@import "layout/partnershipcta";
@import "layout/productcategories";

// @import "";
@import url("https://fonts.googleapis.com/css2?family=Karla:wght@200;300;400;500;600;700&display=swap");
// TODO: MOVE elsewhere
* {
  font-family: "karla", sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: $off-black;
}
html {
  height: 100%;
  overflow: hidden;
  // scroll-behavior: smooth;
  // scroll-snap-type: y mandatory;
}

body {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  height: 100vh;
  overflow: scroll;
  overflow-x: hidden;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.block {
  @extend .column;
  width: 100%;
  height: 100%;

  &_full-screen {
    @extend .block;
    height: 100vh;
  }
}

.blue-tab {
  padding: 0.3rem 2rem;
  color: $white;
  width: fit-content;
  background-color: $light-medium-blue;
  border-radius: 0.5rem;
  font-size: 1rem;
}

.big-title {
  font-size: 4.5rem;
  font-weight: 700;
}

.badge {
  display: flex;
  p {
    color: $grey-text;
    font-weight: 400;
    font-size: 0.9rem;
  }

  svg {
    font-size: 2rem;
    fill: $medium-blue;
    margin-right: 1rem;
  }
}
.snap-start {
  scroll-snap-align: start;
  scroll-snap-stop: always;
}
.snap-center {
  scroll-snap-align: center;
  scroll-snap-stop: always;
}
