@import './resets.scss';
@import './variables.scss';

@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200;300;400;500;600;700&display=swap');

* {
    font: 'Karla', sans-serif;
    font-size: 15px;
    color: black;
}

body {
    background-color: $white;
}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

.fullscreen_block {
    width: 100vw;
    height: 100vh;
}

