$white: #fff;
$off-black: #252525;

$dark-blue: #002344;
$medium-blue: #00488c;
$light-medium-blue: #0044c2;
$light-blue: #8aabca;

$dark-gray: #444;
$light-gray: #f7f7f7;
$grey-text: #717171;

$side-padding: 15%;

$common-radius: 0.5rem;

$slide-height: 100px;

$animationSpeed: 30s;
