$white: #fff;
$off-black: #252525;

$dark-blue: #002344;
$medium-blue: #00488C;
$light-medium-blue: #0044C2;
$light-blue: #8AABCA;

$dark-gray: #444;
$light-gray: #F7F7F7;
$grey-text: #717171;

$side-padding: 5rem;

$common-radius: .5rem;